.footer{
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border-top: 1ps solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}